$jlightbox-background-color: rgba(0, 0, 0, 0.75) !default;
$jlightbox-prev-arrow-offset: 1em !default;
$jlightbox-next-arrow-offset: 1em !default;
$jlightbox-button-color: #FFF !default;
$jlightbox-button-color-hover: #888 !default;
$jlightbox-button-focus-outline-color: #FFF !default;
$jlightbox-index-color: #FFF !default;
$jlightbox-progress-color: #FFF !default;
$jlightbox-loading-color: #FFF !default;
$jlightbox-loading-animation-duration: 1200ms !default;

.jlightbox {
  @keyframes loader {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &--is-open {
    pointer-events: all;

    .jlightbox__item {
      pointer-events: all;
    }
  }

  &__background {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $jlightbox-background-color;
  }

  &__cache {
    position: absolute;
    left: 500vw;
  }

  &__index {
    position: absolute;
    color: $jlightbox-index-color;
    top: 1em;
    left: 1em;
    z-index: 3;
  }

  &__stage {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 2;
  }

  &__item {
    display: block;
    position: absolute;
    top: 200vh;
    left: 200vw;
    outline: 0;
    transform: translate(-50%, -50%);
    z-index: 2;

    &--video {
      object-fit: cover;
    }

    &--cloned {
      pointer-events: none;
    }

    &-wrapper {
      position: absolute;
      width: 100vw;
      height: 100vh;
      pointer-events: none;
    }
  }

  &__progress {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.25em;
    background: transparent;
    z-index: 3;

    &-inner {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background: $jlightbox-progress-color;
    }
  }

  &__loading {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    &::after {
      content: '';
      display: block;
      width: 1.5em;
      height: 1.5em;
      margin: 0 auto;
      padding: 0;
      border-radius: 50%;
      border: 5px solid $jlightbox-loading-color;
      border-color: $jlightbox-loading-color transparent;
      background-color: transparent;
      animation: loader $jlightbox-loading-animation-duration linear infinite;
      transition: none;
    }
  }

  &__arrow {
    display: none;
    position: absolute;
    top: 50%;
    width: 3em;
    height: 5em;
    padding: 0;
    background: none;
    border: 0;
    outline: 0;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 3;

    &::after {
      position: absolute;
      content: '';
      top: 1.25em;
      width: 2em;
      height: 2em;
      transition: border-color 300ms ease;
      border: {
        style: solid;
        width: 0.5em 0.5em 0 0;
        radius: 0.1em;
        color: $jlightbox-button-color;
      };
    }

    &:focus-visible {
      outline: 1px solid $jlightbox-button-focus-outline-color;
    }

    &:hover::after {
      border-color: $jlightbox-button-color-hover;
    }

    &--prev {
      left: $jlightbox-prev-arrow-offset;

      &::after {
        left: 1em;
        transform: rotate(-135deg);
      }
    }

    &--next {
      right: $jlightbox-next-arrow-offset;

      &::after {
        right: 1em;
        transform: rotate(45deg);
      }
    }
  }

  &__control {
    display: none;
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 3;

    &-button {
      position: relative;
      width: 2.5em;
      height: 2.5em;
      margin-left: 0.5em;
      padding: 0;
      background-color: transparent;
      border: 0;
      outline: 0;
      cursor: pointer;

      &:focus-visible {
        outline: 1px solid $jlightbox-button-focus-outline-color;
      }

      &--autoplay {
        &::before,
        &::after {
          position: absolute;
          content: '';
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: border-color 300ms ease;
        }

        &::before {
          width: 0;
          height: 0;
          border: {
            left: 1.5em solid $jlightbox-button-color;
            top: 1em solid transparent;
            bottom: 1em solid transparent;
          };
        }

        &:hover {
          &::before,
          &::after {
            border-left: 1.5em solid $jlightbox-button-color-hover;
          }
        }

        &-is-active {
          &::before,
          &::after {
            width: 0.25em;
            height: 80%;
            border: 0;
            border-radius: 0.25em;
            background-color: $jlightbox-button-color;
            transition: background-color 300ms ease;
          }

          &::before {
            left: 35%;
          }

          &::after {
            left: 65%;
          }

          &:hover {
            &::before,
            &::after {
              border: 0;
              background-color: $jlightbox-button-color-hover;
            }
          }
        }
      }

      &--fullscreen {
        .corner {
          display: block;
          position: absolute;
          width: 15%;
          height: 15%;
          transition: border-color 300ms ease;

          &--top-left {
            top: 10%;
            left: 10%;
            border: {
              top: 0.25em solid $jlightbox-button-color;
              left: 0.25em solid $jlightbox-button-color;
            };

            :fullscreen & {
              border: {
                bottom: 0.25em solid $jlightbox-button-color;
                right: 0.25em solid $jlightbox-button-color;
                top: 0;
                left: 0;
              };
            }
          }

          &--top-right {
            top: 10%;
            right: 10%;
            border: {
              top: 0.25em solid $jlightbox-button-color;
              right: 0.25em solid $jlightbox-button-color;
            };

            :fullscreen & {
              border: {
                bottom: 0.25em solid $jlightbox-button-color;
                left: 0.25em solid $jlightbox-button-color;
                top: 0;
                right: 0;
              };
            }
          }

          &--bottom-left {
            bottom: 10%;
            left: 10%;
            border: {
              bottom: 0.25em solid $jlightbox-button-color;
              left: 0.25em solid $jlightbox-button-color;
            };

            :fullscreen & {
              border: {
                top: 0.25em solid $jlightbox-button-color;
                right: 0.25em solid $jlightbox-button-color;
                bottom: 0;
                left: 0;
              }
            }
          }

          &--bottom-right {
            bottom: 10%;
            right: 10%;
            border: {
              bottom: 0.25em solid $jlightbox-button-color;
              right: 0.25em solid $jlightbox-button-color;
            };

            :fullscreen & {
              border: {
                top: 0.25em solid $jlightbox-button-color;
                left: 0.25em solid $jlightbox-button-color;
                bottom: 0;
                right: 0;
              };
            }
          }
        }

        &:hover .corner {
          border-color: $jlightbox-button-color-hover;
        }
      }

      &--close {
        &::before,
        &::after {
          position: absolute;
          content: '';
          top: 50%;
          left: 50%;
          width: 80%;
          height: 0.25em;
          border-radius: 0.25em;
          background-color: $jlightbox-button-color;
          transition: background-color 300ms ease;
        }

        &::before {
          transform: translate(-50%, -50%) rotate(45deg);
        }

        &::after {
          transform: translate(-50%, -50%) rotate(-45deg);
        }

        &:hover {
          &::before,
          &::after {
            background-color: $jlightbox-button-color-hover;
          }
        }
      }
    }
  }
}
